.Home {
    background: #8e2de2; 
    background: -webkit-linear-gradient(
        to right,
        #4a00e0,
        #8e2de2
    ); 
    background: linear-gradient(
        to right,
        #4a00e0,
        #8e2de2
    );
    min-height: 100vh;
    text-align: center;
    padding-top: 40vh;
}

.upload{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.button-text {
    letter-spacing: 0.01em;
    font-family: Futura, "Helvetica Neue", Helvetica, sans-serif;
}

#fancy-button {
    cursor: pointer;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 4px;
    outline: none;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    padding:20%;
  }